/*.aux
/*.bbl
/*.blg
/*.log
/*.out
/*.pdf
/*.toc
/*.rip
presentation/latex/*.aux
presentation/latex/*.log
presentation/latex/*.nav
presentation/latex/*.out
presentation/latex/*.pdf
presentation/latex/*.snm
presentation/latex/*.toc
presentation/latex/*.vrb
rev.tex
timezone.tex
rev.tex.aux
_region_.tex
auto/
*~
.*.swp
